@import "nullstyle";

.wrapper {
  padding-top: 20px;
  width: 98vw;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 40px;
  @media (max-width: 500px) {
    flex-direction: column;
    width: 95vw;
  }
}
.board {
  width: 45vw;
  height: 45vw;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  border: 5px solid #000;
  font-size: 54px;
  font-weight: 700;
  @media (max-width: 500px) {
    width: 95vw;
    height: 95vw;
  }
}
.square {
  display: inline-grid;
  text-align: center;
  align-items: center;
  //width: 33%;
  //height: 14.6vw;
  border: 2px solid red;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}
.notation {
  width: 50%;
  font-size: 44px;
  line-height: 34px;
  @media (max-width: 500px) {
    width: 95vw;
  }
}

.current-move {
}
.new-game {
  padding: 20px 0;
}
.new-game-btn {
  background-color: rgb(230, 104, 104);
}
.hard-level-color {
  background-color: rgb(230, 104, 104);
}
.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 24px;
}
button {
  font-size: 22px;
  padding: 5px;
  margin: 5px;
}
